<main>
<input id="searchBox" placeholder="Search, or say Google" x-webkit-speech autocomplete="off" />

<header>
</header>

	<% for i in @youtubeDataAPI %>
	<section class="card" id="<%= "vid" +  i['id']%>" data-channel= "<%=i['id']%>" >

		<h1 class="videoTitle"><%= i["title"] %></h1>

		<div class="thumbnails">
			<a href = "<%= i["url"] %>"><%= image_tag(i["thumbnails"]) %></a>
		</div>
  </section>

  <div class="analytics" id="<%= "ana" +  i['id']%>">
  </div>

  <div class="swiperight" id="<%= "eml" +  i['id']%>">
    <%= form_for @message, :remote=>true, :url => contact_path do |form| %>
      <%= form.text_field :email, placeholder: "To:" %>
      <%= form.text_field :subject, placeholder: "Subject:" %>
      <%= form.text_area :body, :value => "Just wanted to update you on the #{i['title']} video.\n\nPlease see below for the most current stats on the video:\n\nTotal Views: #{i['totalViews']}\nAverage View Duration: #{i['averageViewDuration']}\nAverage View Percentage: #{i['averageViewPercentage']}%\nTraffic from Facebook: #{i['facebookViews']}\nTraffic from Twitter: #{i['twitterViews']}" %>
      <%= form.submit "Send", id:"send#{i['id']}", class:"send_button" %>
    <% end %>
  </div>





	<%end%>	
</main>