
<main>
<input placeholder="Search, or say Google" x-webkit-speech autocomplete="off" />

<header></header>

	<% for i in @youtubeDataAPI %>
	<section class="card" id="<%= "vid" +  i['id']%>">

		<h1><%= i["title"] %></h1>

		<div class="thumbnails">
			<a href = "<%= i["url"] %>"><%= image_tag(i["thumbnails"]) %></a>
		</div>
		<h2><a href = "<%= i["url"] %>"><%= i["url"] %></a></h2>
		<h2>Total Views: <%= i["totalViews"] %></h2>
		<h2>Average View Duration: <%= i["averageViewDuration"] %></h2>
		<h2>Average View Percentage: <%= i["averageViewPercentage"] %>%</h2>
		<h2>Traffic from Facebook: <%= i["facebookViews"] %></h2>
		<h2>Traffic from Twitter: <%= i["twitterViews"] %></h2>
	</section>

  <div class="swiperight" id="<%= "eml" +  i['id']%>">
    <%= form_for @message, :remote=>true, url:contact_path do |form| %>
      <%= form.text_field :email, placeholder: "To:" %>
      <%= form.text_field :subject, placeholder: "Subject:" %>
      <%= form.text_area :body, :value => "Just wanted to update you on the #{i['title']} video.\n\nPlease see below for the most current stats on the video:\n\nTotal Views: #{i['totalViews']}\nAverage View Duration: #{i['averageViewDuration']}\nAverage View Percentage: #{i['averageViewPercentage']}%\nTraffic from Facebook: #{i['facebookViews']}\nTraffic from Twitter: #{i['twitterViews']}" %>
      <%= form.submit "Send", id:"send#{i['id']}", class:"send_button" %>
    <% end %>
  </div>
	<%end%>

<script>
// Jquery begins
$(function(){
  // Jquery to swipe left and show the email form
  $(".card").swipe({
    swipeLeft:function() {
      $(this).css("display", "none");
      $('#eml' + $(this).attr("id").substring(3,999)).css("display", "block");
    }
  });
  // Jquery to swipe right and get back to the card with analytics data
  $(".swiperight").swipe({
    swipeRight:function() {
      $(this).css("display", "none");
      $('#vid' + $(this).attr("id").substring(3,999)).css("display", "block"); 
    }
  });
  // Jquery that flips the card back to analytics data on send of email
  $(".send_button").on('click', function(){
    $('#vid' + $(this).attr("id").substring(4,999)).css("display", "block");
    $('#eml' + $(this).attr("id").substring(4,999)).css("display", "none")
  });
});

</script>
	
</main>